{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}

<div class="container">
    <div class="my-5 text-center">
        <h1>Listes des voitures disponibles</h1>
    </div>
    <div class="d-flex flex-wrap">
        {% for product in products %}
            
            <div class="card border-primary mx-3 my-3" style="width: 18rem;">
                <img src="{{ asset('images/images_car.jpeg') }}" alt="car"/>
                <div class="card-body">
                    <h5 class="card-title">{{ product.title}}</h5>
                    <p class="card-text">{{ product.types }} , {{ product.gender }}</p>
                    <h6 class="card-title">{{ product.price}}</h6>
                    <button type="button" class="btn btn-secondary" ><a href="{{ path('cart_add', {id: product.id}) }}" style="text-decoration:none;"> Commander </a></button>
                    {# <!-- Modal -->
                    <div class="modal">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Modal title</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Modal body text goes here.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary">Save changes</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                            </div>
                        </div>
                    </div> #}
                </div>
            </div>
        {% endfor %}
    </div>
    
</div>
{% endblock %}
